/* reset*/
* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

/*fonts*/
@font-face {
  font-family: open-sans-regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

html,
body {
  font-family: open-sans-regular, sans-serif;
}

header {
  background-image: url(../image/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1400px;
  margin: auto;
}

nav a {
  margin-left: 25px;
  display: inline-block;
  color: #CECDCD;
  transition: 0.3s
}

.navbar {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .active {
  color: #fff;
  font-weight: 700px;
}

nav a::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  margin-top: 3px;
  transition: 0.3s;
  border-radius: 20px;
  margin-inline: auto;
  background-color: #fff;
}

nav a:hover {
  color: #fff;
  font-weight: 700px;
}

nav a:hover::after {
  width: 60%;
}

nav .active::after {
  width: 60%;
}

.bannerInfo {
  padding: 150px 0;
}

.bannerInfo .bannerTitle {
  width: 54px;
  height: 18px;
  color: #fff;
  opacity: 60%;
  font-weight: 700px;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.bannerInfo .bannerDescraption {
  width: 697px;
  height: 120px;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  margin: 35px 0;
}

.bannerInfo .CU-Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #0193DC;
  width: 144px;
  height: 50px;
  border-radius: 4px;
}

.main-box1 {
  display: flex;
  width: 1400px;
  margin: 90px auto;
}

.vr-about {
  margin: 0 0 0 70px;
}

.vr-about .vr-boxTitle {
  color: #0C101A;
  width: 397px;
  height: 96px;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.3px;
}

.vr-about .vr-boxDescraption {
  color: #919FAE;
  width: 585px;
  height: 64px;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.5px;
  margin: 30px 0;
}

.vr-about .LL-Btn {
  color: #fff;
  background-color: #0193DC;
  width: 184px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profil-sekolah .boxTitle {
  width: 170px;
  height: 38px;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.3px;
  color: #0C101A;
}

.profil-sekolah .boxDescraption {
  width: 368px;
  height: 96px;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: #919FAE;
  margin: 40px 0 70px 0;
}

.profil-sekolah .LL-Btn {
  color: #fff;
  background-color: #0193DC;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 40px;
  border-radius: 4px;
}

.profil-sekolah {
  margin: auto 0;
  width: 450px;
  height: 412px;
  border-right: 1px solid #D2E0EA;
}

.main-about-box {
  margin: 30px 0 30px 90px;
  justify-content: center;
  gap: 40px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.main-box2 {
  display: flex;
  width: 1400px;
  margin: auto;
}

main {
  background-color: #F9FBFD;
}

.about-box {
  width: 250px;
  height: 250px;
  background-color: #fff;
  padding: 60px 13px;
}

.about-box h2 {
  width: 85px;
  height: 27px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27.24px;
  letter-spacing: 0.3px;
}

.about-box p {
  width: 216px;
  height: 48px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #919FAE;

}

.BdaTitle h2 {
  width: 227px;
  height: 38px;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.3px;
  color: #0C101A;
}

.Berita-dan-Agenda-box {
  width: 45%;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
}